body{
    background-color: black;

}
.container{
	position: absolute;
	width: 60%;
	height: 260vh;
	bottom: 0;
	left: 25%;
	font-size: 350%;
	font-weight: bold;
	text-align: left;
	overflow: hidden;
    transform-origin: 50% 100%;
	transform: perspective(300px) rotateX(13deg);
    color: yellow;
}
.container-content{
	position: absolute;
	top: 100%;
	animation: scroll 30s linear 4s infinite;
}

@keyframes scroll {
	0% { 
        top: 100%; 
    }
	100% { 
        top: -70%; 
    }
}
.center-content{
text-align: center;
margin-bottom: 70px;
}
p{
    margin-bottom: 50px;
}
