@import url(font.css);
.table{
    border: 22px solid #3a4965;
    min-width: 1200px;
    min-height: 740px;
}
td{
    width: 277px;
    height: 69px;
    border-right: 1px solid rgba(0,0,0,0.1f);
    border-left: 1px solid rgba(0,0,0,0.1);
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    font-family: Arimo, sans-serif;
    color: #3a4965;
    text-transform: uppercase;
    box-sizing: border-box;
}
.head-table-up{
    width: 277px;
    height: 70px;
    color: white;
    font-family: Arimo, sans-serif;
    font-weight: 700;
    font-size: 24px;
    
}
.headache{
    font-size: 30px;
}
.sub-title{
    font-size: 18px;

}
.headache-color{
    color: #484848;
    font-weight: 700;
}

.head-amount{
    font-size: 60px;
    font-weight: 700;
    color: #484848;
    position: relative;
}
.head-amount::after{
    content: ".99";
    font-size: 24px;
    position: absolute;
    top: 9px;
}
.font-awesome-style{
    color: #848484;
    margin-right: 7px;
}






















.bottoms{
    display: inline-block;
    width: 192px;
    height: 49px;
    vertical-align: middle;
    text-align: center;
    padding-top: 17px;
    box-sizing: border-box;
    color: white;
    border-radius: 5px;
    font-weight: 700;
}

.bottoms:hover{
    opacity: 0.6;
}
.bgc-row-1{
    background-color: #e3e3e3;
}
.bgc-row-2{
    background-color: #f2f2f2;
}
.foot-table-0{
    background-color: #dddddd;
}
.foot-table-1{
background-color: #eeeeee;
}
.foot-table-2{
background-color: #f4f4f4;
}
.foot-table{
    width: 278px;
    height: 110px;
}

.bgc-1{
    background-color: #89c331;
}
.bgc-2{
background-color: #f04a56;
}
.bgc-3{
    background-color: #20807c;
}
.bgc-0{
    background-color: #484848;
}