@import url(../../css/font.css); 
.table {
    border-top: 30px solid #3a4965;
    border-right: 30px solid #3a4965;
    border-bottom: 22px solid #3a4965;
    border-left: 27px solid #3a4965;
    min-width: 1197px;
    min-height: 660px;
    text-align: center;
    box-sizing: border-box;
    text-transform: uppercase;
    font-family: Arimo, sans-serif;
    font-size: 16px;
    color: #484848;

}
h1{
    font-size: 24px;

}
h2{
    font-size: 14px;

    margin-bottom: 8px;
}
.left-top-corner{
    color: #484848;
    font-weight: bold;
    vertical-align: middle;
}
.head-row{
    width: 157px;
    height: 112px;
    font-size: 20px;
    color: #848484;
    font-weight: bold;
}
.head-column{
    font-size: 24px;
    color: #ffffff;
    vertical-align: middle;
    font-weight: bold;
    width: 200px;
}
.head-column-amount{
    font-size: 36px;
    position: relative;
    display: inline-block;
    margin-top: 15px;
}
.head-column-amount::after{
    content: ".99";
    position: absolute;
    font-size: 18px;
    top: 5px;

}
.head-column-item{
    display: inline-block;
    font-size: 14px;
    margin-left: 23px;
    vertical-align: middle;
}
.column-style-1{
background-color: #e3e3e3;
}
.column-style-2{
background-color: #f2f2f2;

}
.column-style-1, .column-style-2{
    vertical-align: middle;
    border-bottom: 1px solid  rgba(0,0,0,0.2);
    line-height: 26px;
}
.font-awesome-style{
    font-size: 24px;
    margin-bottom: 10px;
    color: #848484;
}
.buttom{
    display: inline-block;
    background-color: #414141;
    padding: 15px 33px 13px 34px;
    border-radius: 5px;
    margin-top: 15px;   
    color: white;
    font-size: 16px;
}


.bgc-1{
    background-color: #89c331;
}
.bgc-2{
    background-color: #f04a56;
}
.bgc-3{
    background-color: #20807c;
}
