
body{
    background-image: url(../img/background.png);
    background-size: cover;

}
.container{

    color: white;
    width: 1366px;
    height: 868px;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    margin: 0 auto;
}
.head-block{
    overflow: auto;
}

.head-block-title{
    
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-size: 49px 48px;
    font-size: 29pt;
    padding-left: 60px;
    margin: 50px auto 0 156px;
    line-height: 23px;
    float: left;
}
.head-block-subtitle{
    font-size: 18pt;
}
.head-block-right{
    float: right;
    text-align: right;
    font-size: 18pt;
    padding: 15px 130px 10px 0;
    margin: 0;
}
.head-link{
    text-decoration: none;
    color: white;

}
.head-block-title:hover{
    color:#f26522;
    background-image: url(../img/logo-hover.png);
    background-repeat: no-repeat;
    background-size: 49px 48px;
}

.main-block-link{
    text-decoration: none;
    color: white;
}
.main-block{
    overflow-y: hidden;
    width: 1116px;
    margin: 0 auto;

}
.main-block-image{
    float: left; 
    height: 200px;
    margin: 20px 30px 60px 30px;
    position: relative;
    border: 2px solid transparent;
    border-image: linear-gradient( to bottom, white, black) 1 100%;
    border-image-slice: 1;
    
}
.main-block-text{
    text-align: center;
    font-size: 18pt;
    text-transform: capitalize;
    margin: 0;
}


.block-image-hover{
    display: inline-block;
    background-color: #f26522;
    color: white;
    position: absolute;
    top: 139px;
	left: 0;
    width: 308px;
    height: 63px;
    transform: translate(0, 50px); 
    opacity: 0;
}

.main-block-image:hover .block-image-hover{
    transform: translate(0, 0);
    opacity: 1;
    transition-delay: 200ms;
    transition: all 500ms;
}


.main-block-link:hover{
    color: #f26522;
}

.left-text{ 
    display: inline-block;
    padding-top: 8px;
    padding-left: 21px;
    font-size: 10px;
}
.right-text{
    display: inline-block;
    padding-left: 126px;
    font-size: 14px;
}
.right-text::after{
    padding-left: 15px; 
    content: "›";
    size: 7px 10px;
    color: #f9b291;
    text-shadow: 1px;
}
.bottom-text{
    font-size: 20px;
}
.copyright{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 12pt;
}

