
.icon-G_ {
  background-image: url(../img/sprite.png);
  background-position: 0px -20px;
  width: 25px;
  height: 16px;
}
.icon-ic_caledar{
  display: inline-block;
  margin-right: 30px;
  background-image: url(../img/sprite.png);
  background-position: -56px 0px;
  width: 19px;
  height: 19px;
}
.icon-ic_caledar:hover {
  background-image: url(../img/sprite.png);
  background-position: -56px -19px;
  width: 19px;
  height: 19px;
}
.icon-ic_forum {
  display: inline-block;
  margin-right: 30px;
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 28px;
  height: 20px;
}
.icon-ic_forum:hover {
  background-image: url(../img/sprite.png);
  background-position: -28px 0px;
  width: 28px;
  height: 20px;
}
.icon-ic_journey {
  display: inline-block;
  margin-right: 25px; 
  background-image: url(../img/sprite.png);
  background-position: 0px -36px;
  width: 20px;
  height: 20px;
}
.icon-ic_journey:hover {
  background-image: url(../img/sprite.png);
  background-position: -20px -36px;
  width: 20px;
  height: 20px;
}
