body{
        background-image: url(../img/background-image.png);
    background-size:cover;
}
.container{
    position: relative;
    margin: auto;
    height: 912px;
    font-family: ﻿Verdana, Adobe, ﻿Courier, sans-serif;
}
.top-menu{
    background-color:rgba(0, 0, 0, 0.5);
    height: 70px;
}
.top-menu-logo{
    float: left;
    font-size: 20pt;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    margin: 22px 0 19px 5%;
}
.top-menu-logo:hover{
    color: #3cb878;
}
.top-menu-right{
    float: right;
    margin: 23px auto 19px 0;
}
.top-menu-text{
    float: right;
    padding-left: 24px;
    color: white;
    font-size: 14pt;
    border-left: 1px solid #32302e;
    margin-right: 75px;
}
.contant{
    width: 444px;
    background-color: white;
    outline: 1px solid transparent;
    border-radius: 10px;
    position: absolute;
    right: 0;
    bottom: 125px;
    left: 0;
    margin: auto;
    
}
.contant-first-line{
    overflow: hidden;
}

.contant:before{
    content: "";
    position: absolute;
    display: block;
    height: 18px;
    width: 18px;
    background-color: #3cb878;
    top: 29px;
    
}
.contant-top{
    font-size: 20pt;
    color: rgba(67, 67, 67, 255);
    padding: 26px 0px 5px 60px;
    float: left;
}
.contant-right{
    font-size: 14pt;
    float: right;
    margin: 30px 59px 0 0;
}

.contant-link{
margin-top: 15px;
}


.bottoms{
    vertical-align:top;
    width: 157px;
    height: 46px;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 5px;
    color: white;
    text-align: left;
    padding-top: 8px;
    font-size: 16px;
}

.fcbk{
    margin-left: 60px;
    background-color: #2b54a5;
}
.fcbk:hover{
    background-color: #264b96;
}
.fcbk::before{
    content: url(../img/facebook1.png);
    display: inline-block;
    width: 10px;
    padding: 4px 17px 4px 20px;
    border-right: 1px solid rgba(0,0,0,0.1);
    margin-right: 16px;
    vertical-align:middle;
}
.goo{
    background-color: #df4a32;
    margin-left: 8px;
}
.goo:hover{
    background-color: #c3412c;

}

.goo::before{
    content: url(../img/G+.png);
    display: inline-block;
    width: 25px;
    height: 16px;
    padding: 6px 9px 6px 13px;
    border-right: 1px solid rgba(0,0,0,0.1);
    margin-right: 24px;
    vertical-align:middle;
}
.contant-braker{
    display: inline-block;
    color: #848484;
    font-style: 14px;
    margin: 30px 0 18px;

}
.contant-braker::before, .contant-braker::after{
    display: inline-block;
    content: " ";
    width: 135px;
    border-top: 1px solid rgba(0,0,0,0.1);
    height: 1px;
}
.contant-braker::before, .contant-braker::after{
    margin: 0 19px 5px 62px;
}
.contant-braker::after{
    margin-left: 19px;
    margin-bottom: 5px;
}


.contant-form{ 
    margin-left: 62px;
    width: 320px;
}
.contant-form-input{
    width: 320px;
    height: 46px;
    margin-bottom: 9px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.1);
    padding-left: 19px;
    font-size: 14px;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
}
.contant-form-input::placeholder{
    color: rgba(0,0,0,0.3);
    font-weight: bold;
}
.contant-form-input:focus{
    box-shadow: 0 3px 3px rgba(0,0,0,0.2);
    border-color: none;
    outline: none;
}
.contant-form-checkbox{
    display: none;
}
.contant-form-checkbox + label{
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(0,0,0,0.1);
    text-align: center;
    overflow: hidden;
    position: relative;   
}
.contant-form-checkbox + label span{
    position: relative;
    display: inline-block;    
    margin-left: -9px;
}
.contant-form-checkbox:checked + label span:before{
    content: '';
    position: absolute; 
    top: -3px;
    left: -4px;
    width: 9px;
    height: 3px;
    background:#3cb878;
    -webkit-transform: rotate(50deg);
    transform: rotate(50deg);    
}
.contant-form-checkbox:checked + label span:after{
    content: '';
    position: absolute; 
    top: -4pt;
    left: -1px;
    width: 15px;
    height: 3px;
    background:#3cb878;
    -webkit-transform: rotate(-50deg);
    transform: rotate(-50deg);       
}
.contant-form-label-text{
    margin-left: 6px;
    font-size: 14px;
    vertical-align: text-top;
}

.buttom-bottom{
    box-sizing: border-box;
    font-size: 16px;
    text-transform: capitalize;
    width: 322px;
    height: 46px;
    background-color: #3cb878;
    color: white;
    border-radius: 5px;
    margin-top: 25px;
    margin-bottom: 30px;
    border: none;
    outline: none;
}
.buttom-bottom:hover{
    background-color: #329a65;

}

.brand-color{
    color: #3cb878;
}
.brand-color:hover{
    text-decoration: underline;
    cursor: pointer;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
  }