
.menu{
    display: flex;
    width: 100vw;
    flex-wrap: nowrap;
    justify-items: center;
    align-items: center;
    justify-content: space-around;
    height: 110px;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    z-index: 2;

}
.menu-logo{
    font-family: sans-serif;
    font-size: 36px;
    color: rgba(66, 79, 87, 255);
    cursor: pointer;
}
.logo-color{
    color: #14afca;
    font-weight: bold;
    text-transform: uppercase;
}
.menu-links{
    display: flex;
    justify-content: space-between;
    width: 570px;
}
.menu-items{
    color: #3e4c4e;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
}
.menu-items:hover{
    color: #14AFCA;
}
.section-proverb{
    background-image: url(../img/html_css_homework_homework8_optional_img_bg1.jpg);
    background-repeat: no-repeat;
    background-origin: border-box;
    background-attachment: fixed;
    background-size: cover;
    perspective: 300px;
    width: 100vw;
    height: 480px;
    margin-top: 110px;
}
.proverb{
    height: 400px;
    position: relative;
    width: 100vw;
    font-size: 52px;
    color: white;
    font-weight: bold;
    line-height: 90px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 0;
}
.proverb::after{
    content: " ";
    position: absolute;
    border-left:50vw solid white;
    border-right: 50vw solid white;
    border-top: 80px solid rgba(0, 0, 0, 0.7);
    bottom: -80px;
    left: 0;
}
.proverb::before{
    content: " ";
    position: absolute;
    top:0;
    width: 100%;
    border-bottom: 400px solid rgba(0, 0, 0, 0.7);
    left: 0;
    z-index: -1;

}
.section-what{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: center;
    height: 400px;
    position: relative;
}
.section-what-text{
    text-align: center;
    width: 960px;
    line-height: 28px;

}
.section-what::after{
    content: " ";
    position: absolute;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-top: 80px solid white;
    bottom: -80px;
    left: 0;
    z-index: 1;
}
.section-companies{
    display: flex;
    background-image: url(../img/html_css_homework_homework8_optional_img_bg2.jpg);
    background-repeat: no-repeat;
    background-origin: border-box;
    background-attachment:fixed;
    background-size: cover;
    perspective: 300px;
    
    width: 100vw;
    height:660px;
    position: relative;
    z-index: 0;
    justify-content: center;
    align-items: center;
}   
.section-companies::before{
    content: " ";
    position: absolute;
    top:0;
    width: 100%;
    border-bottom: 580px solid rgba(0, 0, 0, 0.9);
    left: 0;
    z-index: -1;
}
.section-companies::after{
    content: " ";
    position: absolute;
    border-left: 50vw solid white;
    border-right: 50vw solid white;
    border-top: 80px solid rgba(0, 0, 0, 0.9);
    bottom: 0;
    left: 0;
}

.section-companies-content{

    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: space-around;
    height: 400px;
}
.section-companies-items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 80px;
    grid-column-gap: 60px;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;

}

.section-meet-us{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: center;
    height: 600px;
    position: relative;
}
.section-meet-us::after{
    content: "";
    position: absolute;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-top: 80px solid white;
    bottom: -80px;
    left: 0;
    z-index: 1;
}

.section-meet-us-content{
    display: flex;
    width:70%;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
}
.section-meet-us-content-items{
    display: flex;
    flex-direction: column;
    width: 280px;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    height: 330px;  

}
.section-meet-us-content-items-text{
    text-align: center;
    font-size: 15px;
    color: #424F57;
    font-family: sans-serif;
    line-height: 25px;
    font-weight: 500;
}

.section-testimonials{
    display: flex;
    background-image: url(../img/html_css_homework_homework8_optional_img_bg3.jpg);
    background-repeat: no-repeat;
    background-origin: border-box;
    background-attachment:fixed;
    background-size: cover;
    perspective: 300px;
    flex-direction: column;
    width: 100vw;
    height:560px;
    position: relative;
    z-index: 0;
    justify-content: center;
    align-items: center;
}
.section-testimonials::before{
    content: " ";
    position: absolute;
    top:0;
    width: 100%;
    border-bottom: 480px solid rgba(0, 0, 0, 0.6);
    left: 0;
    z-index: -1;
}
.section-testimonials::after{
    content: " ";
    position: absolute;
    border-left: 50vw solid white;
    border-right: 50vw solid white;
    border-top: 80px solid rgba(0, 0, 0, 0.6);
    bottom: 0;
    left: 0;
}

.section-testimonials-text{
    width: 880px;
    font-family: sans-serif;
    text-align: center;
    font-size: 16px;
    font-style: italic;
    color: #D3CCCC;
    margin-bottom: 20px;
    line-height: 25px;
}
.section-testimonials-name{
    font-size: 18px;
    color: white;
    font-style: italic;
    margin-left: 515px;
    letter-spacing: 3px;
}
.section-why{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: center;
    height: 500px;
    position: relative;
    width: 100vw;
}
.section-why-text{
    font-size: 30px;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    width: 820px;
    margin-top: 30px;
    line-height: 60px;
}
.footer{
    text-align: center;
    width: 390px;
    font-family: sans-serif;
    margin: 50px auto 120px;
    color: #3D3C3C;
    font-size: 14px;
    line-height: 25px;
}
.footer-bold{
    font-weight: bold;
}





.titles{
    font-family: sans-serif;
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
    color: #14afca;
    padding-bottom: 30px;
}

.subtitles{
    font-family: sans-serif;
    font-size: 18px;
    color: #424f57;
    font-weight: bold;
    padding-bottom: 30px;
}
.subtitles-white{
    color: white;
}
.link:hover{
    opacity: 0.5;
}
.anchor{
    position: absolute;
    top: -110px;
}