body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 1200px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin: 0 auto;
}

.head {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    color: white;
    position: fixed;
    z-index: 1;
}

.head-logo {
    align-self: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 33px;
    display: flex;
    justify-items: center;
    align-items: center;

}

#hexagon {
    width: 58px;
    height: 33px;
    background: #18cfab;
    position: relative;
    margin: 10px auto;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 40px;

}

#hexagon:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: -17px;
    left: 0;
    border-left: 29px solid transparent;
    border-right: 29px solid transparent;
    border-bottom: 17px solid #18cfab;
}

#hexagon:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: -17px;
    left: 0;
    border-left: 29px solid transparent;
    border-right: 29px solid transparent;
    border-top: 17px solid #18cfab;
}

.head-menu {
    width: 700px;
    text-transform: uppercase;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    position: relative;
    cursor: pointer;
}

.menu-items {
    display: inline-block;
    padding: 60px 8px;
}

.menu-items:hover {
    color: #18cfab;
    box-shadow: 0 2px 0px #18cfab;
}

.section-top {
    background-image: url(/img/section-top.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    ;
    align-items: center;
    justify-content: center;
    padding: 400px 0;
}

.section-top-content {
    text-align: center;
    margin-bottom: 140px;
}

.section-top-text {
    font-size: 35px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
}

.section-top-header {
    font-size: 70px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin: 40px 0 35px;
    text-align: center;
}

.section-top-subheader {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;

}

.section-top-btn {
    display: inline-block;
    padding: 30px 0;
    background-color: #00cbf6;
    border-radius: 10px;
    width: 166px;
    text-align: center;
    margin: 14px;
    color: white;
    box-shadow: 0 -4px 0px white;
    cursor: pointer;
    text-transform: uppercase;

}

.section-top-btn:hover {
    background-color: #18cfab;
}

.skills {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    color: #18cfab;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}

.skills-block {
    background-color: #1c2a33;
    width: 100%;
    text-align: center;
    padding: 95px 0 120px 0;
    border-top: 7px solid #18cfab;
}

.skills-block:nth-of-type(2n) {
    background-color: #18cfab;
    padding-top: 105px;
    color: white;
    text-align: center;
    border-top: 7px solid white;
}

.skills-block-text {
    margin-top: 49px;
}

.skills-block-text-nth {
    margin-top: 59px;

}

.service-tabs-wrapper {
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: 0 auto;
}

.service-tabs {
    display: flex;
}

.service-tabs-title {
    padding: 20px;
    width: 200px;
    box-sizing: border-box;
    background-color: #f8fcfe;
    color: #959697;
    cursor: pointer;
    border: 1px solid #ebecec;
    text-align: center;
    margin-bottom: 24px;
}

.service-tabs-title:hover {
    background-color: #18cfab;
    color: white;
    border: 1px solid #18cfab;
}

.service-tabs-title.active {
    background-color: #18cfab;
    color: white;
    border: 1px solid #18cfab;
    position: relative;
}

.service-tabs-title.active::after {
    content: "";
    width: 24px;
    height: 24px;
    background-color: #18cfab;
    transform: rotate(45deg);
    position: absolute;
    bottom: -8px;
    right: 85px;
}

.service-tabs-content {
    margin-bottom: 100px;
    display: flex;
}

.service-tabs-content-wrap {
    display: none;
}

.service-tabs-content-text {
    text-align: justify;
    margin-left: 20px;
    font-size: 14px;
    font-weight: 200;
    color: rgba(119, 119, 119, 255);
    font-family: 'Montserrat', sans-serif;
}

.service-tabs-content-img {
    width: 194px;
    height: 139px;
}

.purchase {
    display: flex;
    flex-direction: column;
    background-image: url(/img/purchase-bg.png);
    background-repeat: no-repeat;
    padding: 200px 0;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    z-index: 0;
}

.purchase::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    z-index: -1;
}

.purchase-title {
    font-size: 40px;
    color: #18cfab;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.purchase-subtitle {
    font-size: 16px;
    color: white;
    margin-bottom: 76px;
}

.work {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    background-color: #f8fcfe;
}

.work-tabs {
    display: flex;
    justify-content: center;
}

.work-tabs-title {
    padding: 20px;
    box-sizing: border-box;
    background-color: #ffffff;
    color: #959697;
    cursor: pointer;
    border: 1px solid #ebebeb;
    text-align: center;
    margin-bottom: 24px;
}

.work-tabs-title:hover {
    color: #18cfab;
    border-top: 2px solid #18cfab;
}

.work-tabs-title.active {
    color: #18cfab;
    border-top: 2px solid #18cfab;
    position: relative;
}

#pictureBox {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 1140px;
    margin: 0 auto;
}

.all-img {
    height: 208px;
    cursor: pointer;
    position: relative;

}

.all-img:nth-child(n+13):nth-child(-n+24) {
    display: none;
}

.all-img:nth-child(n+25) {
    display: none;
}

#show-more-btn {
    padding: 25px 21px 25px 54px;
    background-color: #18cfab;
    width: 165px;
    color: white;
    position: relative;
    text-align: right;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0 auto 70px;
    box-sizing: border-box;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

#show-more-btn:hover {
    background-color: #00cbf6;
}

#show-more-btn::before {
    content: "+";
    position: absolute;
    left: 30px;
    font-size: 30px;
    font-weight: bold;
    top: 15px;
    margin-bottom: 100px;
}

.loading {
    transform: rotate(1440deg);
    transition: 3s;
}


.breaking-news {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 1200px;
    margin: 100px auto 82px;
    row-gap: 45px;
    column-gap: 28px;
}

.news-block {
    position: relative;
    background-color: #f8fcfe;
    width: 263px;
    font-family: 'Montserrat', sans-serif;

}

.news-block-date {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 66px;
    height: 66px;
    background-color: #203e38;
    color: white;
    font-size: 16px;
    text-align: center;
    top: 0;
    right: 0;
}

.news-block-text {
    font-size: 19px;
    font-weight: bold;
    margin: 15px 15px;
    color: #717171;
    text-transform: capitalize;
}

.news-block-comments {
    margin: 0 15px 12px;
    font-size: 14px;
    color: #777777;
    font-weight: 200;
}

.news-block:hover .news-block-date {
    background-color: #18cfab;
}

.news-block:hover .news-block-text {
    color: #18cfab;
}

.about {
    margin: 82px auto 0;
    padding: 90px 0;
    background-image: url(/img/about-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.about>.header {
    color: white;
}

.about>.header::before {
    content: url(/img/about-small-Img.png);
    position: absolute;
    bottom: -135px;
    left: 232px;
}

.about-text-wrapper {
    margin: 180px auto 25px;
    width: 1100px;
    text-align: center;
    color: rgba(187, 187, 187, 255);
    font-weight: 200;
    font-size: 16px;
    line-height: 30px;

}

h2.brand-color {
    margin-top: 43px;
}

.about-image-content {
    position: relative;
    width: 450px;
    margin: 0 auto;
}


.about-image-wrapper-content {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 5px rgba(47, 150, 129, 0.3);
    cursor: pointer;
    transition-duration: 0.5s;
    margin: 8px;

}

.about-bigImg-wrapper-content {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.about-bigImg {
    width: 143px;
    height: 143px;
    margin: 30px auto;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 10px rgba(47, 150, 129, 0.3);
    border: 3px solid #18cfab;
    background-repeat: no-repeat;
    background-size: contain;
    transition-duration: 0.5s;
}

.slick-prev {
    left: -50px
}

.slick-prev:before,
.slick-next:before {
    font-family: serif;
    content: ">";
    padding: 6px 10px;
    background-color: transparent;
    color: #bbbbbb;
    border: 2px solid #bbbbbb;
}

.slick-prev:before {
    content: "<";
}

.slick-slide {
    outline: none;
}
.slick-center{
    margin-bottom: 10px;
    border-color: #18cfab;
}

.footer {
    background-color: #22353f;
    padding: 40px 0;
    text-align: center;
    color: #aeaeae;
    font-weight: 200;
}



.header {
    font-size: 36px;
    text-align: center;
    margin: 82px auto 112px;
    width: 520px;
    position: relative;
    color: #4e4e4e;
}

.header::after {
    content: "";
    border-bottom: 1px solid #18cfab;
    width: 76px;
    bottom: -37px;
    right: 222px;
    position: absolute;
    box-shadow: 12px 3px 0px #18cfab;

}

.brand-color {
    color: #18cfab;
    font-weight: bold;
}

.brand-color:last-of-type {
    font-weight: 200;
}